/*!
  Proyect     : Macondo Art facturation system
  Description : Main CSS with elements template 
  Designer    : Luis Villasante
  E - mail    : luis.villasante[at]gmail.com
  Filename    : macondoart-facturacion.css
  Version     : 1.1
  Date        : Aug 27, 2018 - 00058 

*/




